{{- define "main" -}}
  <script>
    document.getElementById("main").setAttribute("nextText", "{{- i18n "next" -}}")
    document.getElementById("main").setAttribute("prevText", "{{- i18n "prev" -}}")
    document.getElementById("main").setAttribute("closeText", "{{- i18n "close" -}}")
    document.getElementById("main").setAttribute("loadingText", "{{- i18n "loading" -}}")
  </script>
  <div class="container">
    {{- partial "nav.html" . -}}
    <article class="info">
      {{ .Content }}
    </article>
  </div>
{{- end -}}
